.navProfile {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  width: 320px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 64px;
  color: #8585ad;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.buttons {
  transition: all 0.2s ease-in-out;
}