.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
}

.popupTitle {
  margin: 120px auto 0;
  text-align: center;
}

.caloricityList {
  padding: 0;
  display: flex;
  list-style-type: none;
}

.caloricityItem {
  text-align: center;
}

.ingredientImage {
  height: 240px;
  width: 480px;
}

.download {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 88px);
}