.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;

  .container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 720px;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    background-color: #1C1C21;
    z-index: 100;
  }
  
  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}

