.header {
  background: #1C1C21;

  .logo {
    position: absolute;
    left: 50%; 
    transform: translate(-50%);
  }

  .navigation {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
  }

  .list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
  }

  .listItem {
    display: flex;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }

  .link {
    text-decoration: none;
    color: #8585ad;
    
    &_active {
      color: #f2f2f3; 
    }

    &_inactive {
      color: #8585ad;
    }
  }
}
